{% extends 'person/base.html' %}
{% load i18n extras static memberships pagination_tags %}

{% block title %}{{ object.name }}{% endblock %} 
{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
{% endblock %}

{% block "profile" %}
  <img id="photo" src="{{ object.icon.url }}"/>
{% endblock %}

{% block "side" %}
  {% if object.admin == request.user %}
    <a href="{% url "team.edit" object.slug %}" class="btn btn-danger" title=
      "{% trans "Edit the team's details as the team's administrator." %}">{% trans "Edit Team" %}</a>
  {% endif %}
  {% with membership=team|membership:request.user %}
    {% if team.charter %}
      <a href="{% url "team.charter" object.slug %}" class="btn btn-primary" disabled title=
        "{% trans "View team charter detailing responsibilities and rules." %}">{% trans "Team Charter" %}</a>
    {% endif %}
    {% if membership.is_member %}
      <a href="{% url "team.leave" object.slug %}" class="btn btn-default" disabled title=
        "{% trans "Leave this team." %}">{% trans "Leave Team" %}</a>
      <script>popUpLink("{% blocktrans %}Are you sure you want to leave {{ object }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Leave Team" %}', "{{ object.get_absolute_url }}");</script>
    {% elif membership.is_watcher %}
      <a href="{% url "team.unwatch" object.slug %}" class="btn btn-default" title=
        "{% trans "This means that you will no longer be kept up-to-date about this team's activities." %}">{% trans "Stop Watching Team" %}</a>
    {% else %}
      <a href="{% url "team.watch" object.slug %}" class="btn btn-default" title=
        "{% trans "Watchers are kept up-to-date about what's going on in the team, but can't take part in their work." %}">{% trans "Watch Team" %}</a>
    {% endif %}

    {% if not membership.is_member %}
      {% if object.enrole == 'O' %}
        <a href="{% url "team.join" object.slug %}" class="btn btn-primary" title=
          "{% trans "Enroll yourself to become a member of this team." %}">{% trans "Join Team" %}</a>
      {% elif object.enrole in 'PT' %}
        {% if membership.is_requester %}
          <a class="btn" disabled title=
            "{% trans "Your request for a team membership is pending." %}">{% trans "Request Sent" %}</a>
        {% else %}
          <a href="{% url "team.join" object.slug %}" class="btn btn-primary" title=
            "{% trans "Ask for a team membership." %}">{% trans "Request Membership" %}</a>
        {% endif %}
      {% elif object.enrole == 'C' %}
        <a class="btn" disabled title=
          "{% trans "This team uses another mode of determining its members." %}">{% trans "Membership Closed" %}</a>
      {% elif object.enrole == 'E' %}
        <a class="btn" disabled title=
          "{% trans "This team uses an election to pick it's members." %}">{% trans "Elected Membership" %}</a>
      {% endif %}
    {% endif %}

    {% if object.ircrooms.count > 0 %}
      <a href="{% url "team.chat" object.slug %}" class="btn btn-default" title=
        "{% trans "Go to this team's IRC Chatroom." %} (#{{ object.ircroom }})">{% trans "Team Chatroom" %}</a>
      <!--a href="{% url "team.chatlogs" object.slug %}" class="btn btn-default" title=
        "{% trans "View the logs for this team's IRC Chatrooms." %} (#{{ object.ircroom }})">{% trans "Chatroom Logs" %}</a-->
    {% endif %}

      <h2 title="{% trans "Your place to upload Inkscape Art!" %}">{% trans "InkSpace" %}</h1>
      <ul>
        <li><a href="{% url "resources" team=team.slug %}">{% trans "Team Galleries" %}</a></li>
      </ul>

      <h2>{% trans "Information" %}</h2>
      <ul>
        <li>
          <a>
            <label>{% trans "Members" %}</label>
            <span>{{ object.members.count|default:0 }}</span>
          </a>
        </li>
        <li>
          <a>
            <label>{% trans "Watchers" %}</label>
            <span>{{ object.watchers.all.count|default:0 }}</span>
          </a>
        </li>
      </ul>
        {% if request.user in object.peers %}
          <h2>{% trans "Join Requests" %}</h2>
          <ul>
          {% for member in object.requests %}     
            {% if member.user.username %}
              <li><label><a href="{{ member.user.get_absolute_url }}" title="{% trans "Visit profile" %}">{{ member.user }}</a></label>
              <span><a href="{% url "team.approve" object.slug member.user.username %}">&#10003;</a>
                    <a href="{% url "team.disapprove" object.slug member.user.username %}" class="no">&#10006;</a></span>
              </li>
            {% endif %}
          {% empty %}
            <p>None</p>
          {% endfor %}
          </ul>
        {% endif %}
      </ul>
      {% if object.elections %}
        <h2>{% trans "Elections" %}</h2>
        <ul>
          {% for election in object.elections.all %}
            <li>
              <a href="{{ election.get_absolute_url }}">
                  <label>{{ election.for_role }} {{ election.voting_from.year }}</label>
                <span{% if election.state.failed %} class="failed"{% endif %}>{{ election.state.name }}</span>
              </a>
            </li>
          {% empty %}
            <li>
              <a href="{% url "elections:list" object.slug %}">
                <label>{% trans "All Elections" %}</label>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}

{% block "content" %}
  {% if object.desc %}
    <h2>{% trans "Team Details" %}</h2>
    <div class="info">
      {{ object.desc|safe }}
    </div>
  {% endif %}
  {% if object.members.count %}
    <h2>{% trans "Team Members" %}</h2>

    {% autopaginate object.members.all 20 as members %}
    <div class="photos"/>
      {% for member in members %}
       {% with user=member.user %}
        <div class="galleryitem">
          <a class="link" href="{{ user.get_absolute_url }}"><img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}" title="Full User Details"/></a>
          <p title="Full User Details"><a href="{{ user.get_absolute_url }}">{{ user }}</a></p>
          <div class="minitabs">
            {% if member.title %}
              {% with text=member.title style=member.style %}
                {% include "ribbon.html" %}
              {% endwith %}
            {% endif %}
            {% if user == request.user or object.admin == request.user %}
              {% if user.username %}
              <a href="{% url "team.remove" object.slug user.username %}" title="{% trans 'Remove Membership' %}">
                  <img src="{% static "mime/banner/delete.svg" %}" title="{% trans "Remove Membership" %}">
                </a>
                {% if user == request.user %}
                  <script>popUpLink("{% blocktrans %}Are you sure you want to leave {{ object }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Leave Team" %}', "{{ object.get_absolute_url }}");</script>
                {% else %}
                  <script>popUpLink("{% blocktrans %}Are you sure you want to remove {{ user }} from {{ object }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Remove" %}', "{{ object.get_absolute_url }}");</script>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
       {% endwith %}
      {% endfor %}
    </div>
  {% else %}
    <h2>No Team Members</h2>
  {% endif %}
  {% paginate %}
  {% if object.old_members.count %}
    <h2>{% trans "Previous Team Members" %}</h2>
    <ul>
      {% for member in object.old_members %}
        <li><a href="{{ member.user.get_absolute_url }}">{{ member.user }}</a> ({{ member.joined.year }}{% if member.expired.year != member.joined.year %} - {{ member.expired.year }}{% endif %})</li>
      {% endfor %}
    </ul>
  {% endif %}
  <br/>
{% endblock %}

