{% load i18n static timers %}

  {% if object.contest_submit and object.category %}
  <div id="sidecategory">
    {% if object.is_pending %}
      <h2>{% trans "Opens in" %} {{ object.contest_submit|timeuntil }}</h2>
      <a class="btn-disabled" title="{% trans "This contest is not open yet, please come back soon." %}">{% trans "Submit Now!" %}</a>
    {% elif object.is_submitting %}
      <h2>{% trans "Open for" %} {{ object.submitting_to|timeuntil }}</h2>
      {% if not request.user.is_authenticated %}
        <a href="{% url "auth_login" %}?next={% url "resource.upload" object.pk %}"
          class="btn btn-danger" title="{% trans "This contest is open, click here to login and submit." %}">{% trans "Login to Submit" %}</a>
      {% else %}
        <a href="{% url "resource.upload" object.pk %}"
          class="btn btn-primary" title="{% trans "This contest is open, click here to submit your file." %}">{% trans "Submit Now!" %}</a>
      {% endif %}
    {% elif object.is_voting %}
      <h2>{% trans "Voting for" %} {{ object.contest_count|default:object.contest_finish|timeuntil }}</h2>
      <a class="btn-disabled btn-danger" title="{% trans "This contest is voting, press the check mark inside the item you wish to vote for." %}">{% trans "Voting Open" %}</a>
      <small>{% blocktrans count number_of_votes=object_list.votes %}{{number_of_votes}} vote so far.{% plural %}{{number_of_votes}} votes so far.{% endblocktrans %}</small>
    {% elif object.is_counting %}
      <h2>{% trans "Voting closed" %}</h2>
      <a class="btn-disabled btn-default">{% trans "Voting Closed" %}</a>
    {% elif object.is_finished %}
      <h2>{% blocktrans with time=object.contest_finish|timesince %}Finished {{ time }} ago{% endblocktrans %}</h2>
      <a class="btn-disabled" title="{% trans "This contest is finished." %}">{% trans "Contest Finished" %}</a>
    {% endif %}
  </div>
  {% elif upload_url %}
    <div id="sidecategory">
      <a class="btn btn-primary" href="{{ upload_url }}">
        <div id="drop" class="link">
          <img src="{% static "images/upload_cloud.svg" %}"/>
        </div>
        {% trans "Submit Resource" %}</a>
      <script>
        registerDropZone('drop', 'gallery', '{{ upload_drop }}', '{% static "" %}'); 
      </script>
      {% if object.user == request.user %}
      <a class="btn btn-default" href="{% url "gallery.edit" object.pk %}">{% trans "Edit Gallery" %}</a>
      {% endif %}
    </div>
  {% endif %}

  <h2>
    <a href="{{ rss_url }}"><img src="{% static "images/rss.png" %}" title="{% trans "RSS Feed" %}"></a>
    {% blocktrans count counter=object_list.count %}Found {{ counter }} Item{% plural %}Found {{ counter }} Items{% endblocktrans %}
  </h2>
  
  {% if object_list or query %}
    <form class="search" method="get" action="{{ url }}">
      <input type="text" name="q" value="{{ query|default:'' }}" placeholder="{% trans "Search for Resources" %}"/>
      {% if query %}
        <a href="{{ clear_url }}"><img title="{% trans "Clear Search" %}" src="{% static "images/clear-search.svg" %}"/></a>
      {% endif %}
    </form>
  {% endif %}

  <div id="sidecategory">
    {% if orders %}
      <h2>{% trans "Order By" %}</h2>
      <ul>
        {% for order in orders %}
            {% if order.active and order.id != '?' %}
              <li><a href="{{ order.url }}"><label>{{ order.name }}</label><span>{% if order.down %}&#9660;{% else %}&#9650;{% endif %}</span></a></li>
            {% else %}
              <li><a href="{{ order.url }}">{{ order.name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% for tag_category in tag_categories %}
      {% if tag_category.tags.count > 0 %}<h2>{{ tag_category.name }}</h2>
        <div>
          {% for tag in tag_category.tags.all %}
            {% if tags == tag.name %}
              <a class="tag selected" title="{% trans "Clear Tag" %}" href="{{ tag_clear_url }}">{{ tag }} <img src="{% static "images/clear-search.svg" %}"/></a>
            {% else %}
              <a class="tag" href="?tags={{ tag }}">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% empty %}
      {% with object.tag_cloud as cloud %}
        {% if cloud %}
          <h2>{% trans "Tag Cloud" %}</h2>
          <div class="cloud">
            {% for tag, size in cloud %}
              {% if tags == tag %}
              <span class="selected size{{ size }}">
                <a title="{% trans "Clear Tag" %}" href="{{ tag_clear_url }}">{{ tag }}
                  <img src="{% static "images/clear-search.svg" %}"/>
                </a>
              </span>
              {% else %}
                <span class="size{{ size }}"><a href="?tags={{ tag }}">{{ tag }}</a></span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    {% endfor %}

    {% for category in categories %}
      {% if category.cid == "galleries" %}
        <h2>{{ category.name }}</h2>
        <ul>
          {% for item in category %}
            {% if category.item == item %}
              <li class="active">
                <a {% if item.pk and item.user == request.user %}href="{% url "gallery.edit" item.pk %}"{% endif %}>
                  <label>{{ item.name|default:item }}</label>
                  {% if item.pk and item.user == request.user %}
                     <span>{% trans "edit" %}</span>
                  {% endif %}
                </a>
              </li>
            {% else %}
              <li><a href="{{ item.url }}"><label>{{ item.name|default:item}}</label><span>{{ item.count }}</span></a></li>
            {% endif %}
          {% endfor %}
          {% if is_user or team_member %}
            <form method="POST" action="{% url "new_gallery" %}">
              {% csrf_token %}
              <input name="name" value="" placeholder="{% trans "New Gallery" %}"/>
              {% if team %}<input name="group" value="{{ team.pk }}" type="hidden"/>{% endif %}
              <button type="submit">+</button>
            </form>
          {% endif %}
        </ul>
      {% elif category.count > 0 %}
        <h2>{{ category.name }}</h2>
        {% if category.count > 1 %}
          <ul>
            {% for item in category %}
              {% if item and item.count %}
                {% if item.filterable %}
                  {% if category.item == item %}
                    <li class="active"><a><label>{{ item.name|default:item }}</label></a></li>
                  {% else %}
                    <li><a href="{{ item.url }}"><label>{{ item.name|default:item }}</label><span>{{ item.count }}</span></a></li>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% elif category.count == 1 %}
          <ul><li class="active"><a><label>{{ category.active_items.1.name }}</label><span>{{ category.active_items.1.count }}</span></a></li></ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

